* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-color: #ececec;
  color: #fff;
}

#App {
  display: grid;
  height: 100vh;
  grid-template-areas:
  "titl titl cont cont"
  "left main main right"
  "foot foot foot foot";
  grid-template-columns: 1fr 9fr 2fr 1fr;
  grid-template-rows: 2fr 12fr 1fr;
}

.main-title {
  grid-area: titl;
  background-color: #4b32bd;
  padding: 20px 0 0 20px;
}

.controls {
  grid-area: cont;
  background-color: #4b32bd;
  text-align: right;
  padding: 58px 20px 0 0;
}

.controls > button {
  font-size: 80%;
  background-color: #4b32bd;
  border: none;
  color: #e67e22;
}

.left-sidebar {
  grid-area: left;
}

main {
  grid-area: main;
}

.right-sidebar {
  grid-area: right;
}

footer {
  grid-area: foot;
  background-color: #4b32bd;
  text-align: right;
  padding: 10px 20px 0 0;
  font-size: 70%;
}

.word {
  margin: 2%;
  padding: 5%;
  line-height: 145%;
  color: #918c8c;
  background-color: #fff;
}

.word-name {
  font-size: 200%;
  color: black;
  font-style: italic;
}

.word-meaning {
  margin-top: 4%;
}

.word-example {
  margin-top:4%;
  font-size: 80%;
  color: olive;
  font-style: italic;
}

/* ----- HEADERS ----- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0; /*  elimina espacio imagen fondo arriba*/
  margin-bottom: 20px;
  color: #fff;
  font-size: 220%;
  word-spacing: 4px;
  letter-spacing: 1px;
}


/* ----- LINKS ----- */

a:link, a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
  color: #dbd7d7;
  border-bottom: 1px solid transparent;
}
